body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  /* adding css of login page */

  body {background-color: #eee !important;font-size:14px;font-family: 'Nunito', sans-serif;color:#000;}

.loghead{font-weight:600; text-align: start;}
.logincont{display:flex;align-items:center;    height: 100vh;}
.loginside{    display: flex;height: 540px;width: 85%;margin: auto;border-bottom-left-radius: 32px;border-bottom-right-radius: 32px;}
.leftside,.rightside{flex-basis:50%;max-width:50%;display: flex;}
.rightside{border-bottom-right-radius: 32px;flex-direction: column;justify-content: center;    background: #fff;padding: 75px;}
.leftside{border-bottom-left-radius: 32px;}
.leftside img{margin:auto;}
.login-form input{width: 100%;
    min-height: 44px;
	outline: none;
    background: #F0F0F0;
    border: 1px solid #DFDFDF;
    margin-bottom: 26px;
    padding-left: 40px;
	    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 12px center;
	}

.login-form [type="submit"]{background: #5BC390;
    font-size: 14px;
    width: 100%;
    min-height: 44px;
    border: 0px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;}
.rightside h3{color: #090C56;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #F4F1F1;
    padding-bottom: 10px;
    margin-bottom: 35px;
    margin-top: 10px;
    text-align: start;
  }

  @media (max-width:769px){
    .loginside{width:100%;flex-direction: column}		
.leftside, .rightside {
    flex-basis: 100%;
max-width: 100%;
border-bottom-left-radius: 0px !important;
}
.rightside{padding: 35px 30px 0px;}
  }

/* adding css of Header */

.nav-link {
  background-color: transparent !important;
  color: #020442 !important;
  font-weight: 600;
  line-height: 20px;
}

.navbar-brand {
  margin-right: 60px;
  width: 25%;
}

.nav {
  
  padding-top: 7px;
  padding-bottom: 7px;
}

.master-data-container {
  padding-top: 30px !important;
  background-color: #F4F4FB;
  padding-top: 7px;
  padding-bottom: 7px;
}

.nav-item .nav-link {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.d-flex {
  flex-direction: row-reverse;
}

.form-control {
  position: relative;
  border-radius: 30px;
}

.search-btn {
  position: inherit;
  color: dimgray;
  background-color: #eee;
  outline: none;
  display: flex;
  border-radius: 30px;
  margin-top: 2px;
  margin-left: auto;
  height: 30px;
  width: 30px;
}
.search-btn img{
  width: 16px;
  background: #eee;
  margin-left: -5px;
}
.profile {
  position: relative;
  margin-right: 100px;
}

.logout-menu {
  position: absolute;
  left: -60px !important;
}

.dropdown-toggle:focus {
  box-shadow: none;
}

.data-head {
  color: #020544;
  font-size: 16px;
  padding: 0px 0 15px;
  font-weight: 700;
  border-bottom: 1px solid #EBE8E8;
  margin-bottom: 25px;
}

.show-option {
  margin-bottom: 30px;
  margin-top: 15px;
}

.select-option {
  margin-left: 10px;
  margin-right: 10px;
}

.option {
  padding: 8px 20px;
  background: white;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.date-picker input {
  height: 38px;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  width: 13%;
}

.date-section {
  text-align: end;
}

.row>* {
  padding-right: 5px !important;
}


.navbar {
  box-shadow: 0px 4px 4px 0px #aeaeae40;
  background-color: #ffff;
}
@media (max-width:570px){
  .profile{
    margin-right: 0px;
  }
  .dropdown-toggle::after{
    vertical-align: 0;
    margin-left: 10px !important;
  }
  .profile .dropdown-toggle img{
    margin-right: 10px;
  }
  .navbar-brand img{
    margin-left: 15px;
  }
}
@media (min-width:280px){
.btn{
  display: initial !important;}
}
.dropdown-toggle::after{
  margin-left: 7px !important;
  vertical-align: 2px !important;
}
.profile .dropdown-toggle img{
  margin-right: 7px !important;
}
.search-btn img{
  margin-top: -7px !important;
}

/* start css of agent page */



.nav-pills,.tab-content{width:100%;float:left;}
.tab-cnt .col-md-6{margin:11px 0;    padding: 0px;}
.tab-cnt .row {
    margin-right: 0;
    margin-left: 0px;
    border-bottom: 1px solid #F0F0F0;
}
.tab-pane a{color:#000;}
.txttd{display: flex;align-items: center;}
.txttd img{margin-top: -2px;
margin-right: 13px;    image-rendering: -webkit-optimize-contrast;}
.tab-cnt{
    margin-top: 15px;	
	border: 1px solid #DFDFDF;
    background: #fff;
    padding: 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;}
    .foot{
      margin-bottom: 80px;
    }
    p{
      text-align: start;
      
    }
.nav-pills>li{width:48%;}
.nav-pills>li:first-child{margin-right:2%;}
.nav-pills>li:last-child{margin-left:2%;}
.nav-pills a{ background-color: #fff !important;
    border: 1px solid #DFDFDF !important;
    text-align: center !important;
    color: #090C56 !important;
	border-radius: 50px !important;
	    font-weight: 600;
		}
    .nav>li>a {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-top: 30px;
  }
  a {
    text-decoration: none;
}
.nav-pills .active a{background-color: #090C56 !important;color:#fff !important;border: 1px solid #090C56 !important;}


footer p{font-size:16px; text-align: start;}

@media (max-width:570px){
  .tab-cnt{
    display: flex;
  }
}
@media (min-width:280px) and (max-width:374px){
  .tab-cnt{
    display: block !important;
  }
}

/* End css of agent page */

/* start css of details page */
body {background-color: #eee !important;font-size:14px;font-family: 'Nunito', sans-serif;color:#000;}

.detailscnt{background:#fff;color: #020544; 
    padding: 20px 15px;
    border: 1px solid #E5E5E5;
	  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: start;
    margin-top: 40px;
  }
	.strng{font-weight:600;}
.detailscnt h4 {
font-size: 16px;
    padding: 25px 0 15px;
    font-weight: 700;
    border-bottom: 1px solid #EBE8E8;
}
.detl,.detform{    padding-left: 0px;
    list-style: none;
    margin-top: 20px;}
.detl li{
	background: #F5F7FA;
    padding: 15px;
	display:flex;
    border-radius: 10px;
    border: 0.5px solid #EEEEEE;
    box-shadow: 0px 0px 5px 0px #afafaf40;
    margin-bottom: 9px;}
	.detl li:nth-child(2n){background: #fff;}
	.detl .strng,.detform .strng{max-width: 40%;width: 40%;flex-basis: 40%; margin-bottom: 15px;}
	.cntname,.detform  .cntname{max-width: 100%;flex-basis: 100%;}
  .detailscnt.opencase .cntname{max-width: 60%; flex-basis: 60%;}
	.lineform{display:flex;margin-bottom:13px; flex-direction: column;}
  .detailscnt.opencase .lineform{flex-direction: row;}
 .btno{min-height:44px;margin-left: 15px;
    color: #fff !important;
    padding: 11px 25px;
    border-radius: 26px;outline:none !important;}
    .btno:disabled{
      min-height:44px;margin-left: 15px;
    color: #fff !important;
    padding: 11px 25px;
    border-radius: 26px;outline:none !important;
    background-color: lightblue;
    }
    .btno:enabled{
      min-height:44px;margin-left: 15px;
    color: #fff !important;
    padding: 11px 25px;
    border-radius: 26px;outline:none !important;
    background-color: #2871A6;
    }
.btno  a{color:#fff;text-decoration:none;}
	 .btno img{padding-left:9px;margin-top:-2px;}
	.blue{background-color:#2871A6;}
	.green{background-color:#5BC390;}
	 .footdetail{margin: 45px 0 30px;text-align: right;display: flex;}
	.footdetail .container{margin-right:0;}
  .pickform .btno{
    padding: 11px 7% 10px;
    width: fit-content;
    border: none;
  }
  .text-left p{   
     margin-top: 80px;
     margin-bottom: 20px;
     font-size:16px;  
  }
  .btn.btnn img {
    padding-left: 9px;
    margin-top: -2px;
}
  
	#myModal{padding-right:0px !important;}
	.modal-body{padding: 50px;}
	.modalhead p{font-size:15px;}
	.modalhead,.modalfoot{padding:40px 0;}
	.modal-content{    width: 96%; margin: auto;box-shadow: 0px 4px 4px 0px #00000040 !important;border-radius: 20px;}
	.modal-open .modal{background: #2e3c56e6;}
	.modal-dialog .close{opacity: 1;padding:13px;    z-index: 99;
    position: absolute;
    right: 0;}
	.divouter {
    width: 213px;
    overflow: hidden;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}
.modal-dialog {
    margin:40px auto !important;
}
.detform input,.detform textarea,.detform select{background: #F0F0F0;
    outline: none !important;
    padding: 13px;
    border: 0px;}
	select{

    background-size: 9px !important;
    background-repeat: no-repeat !important;
    background-position: 95% center !important;
    appearance: none !important;
	  
  -moz-appearance: none;
 
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
.detform textarea{min-height: 150px;}
[readonly]{color:#000000a3;}
#divInner {
    left: 0;
    position: sticky;
}
#resend_btn{color:#5BC390;font-size: 15px;font-weight: 600;}
#partitioned {
    padding-left: 25px;
    letter-spacing:36px;
    border: 0;
    background-image: linear-gradient(to left, #ed4343 70%, rgb(245 245 245 / 98%) 0%);
    background-image: linear-gradient(to left, #daddda 90%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 52px 1px;
    background-repeat: repeat-x;
    background-position-x: 0px;
    width: 216px;
    min-width: 216px;
    font-size: 19px;
    outline: 0px;
}
#verifier p{font-size:14px;}
.footcnt {width: 100%;}
.footcnt .btn{padding: 11px 3% 10px;margin-right: 2%;margin-left: 0;width: 32%; border-radius: 26px;
  color: #fff;
  outline: none;}
.footcnt .btn:last-child{margin-right:0px;}
.add-btn{margin:30px 0; text-align: right;}
.pickform .btn { padding: 11px 7% 10px;width: fit-content;}
.delete-row{ position: absolute;
    right: 5px;
    top: 0;
    padding: 0px !important;
    margin: 0px 0px;
    width: fit-content;box-shadow: none !important;
}
.delete-row img{padding-left:0px;image-rendering: -webkit-optimize-contrast;}
.addsiterow .lineform,#yes .col-md-6,.addrow .col-md-6 { padding-right: 5px;padding-left: 5px;}
.addsiterow .row,#yes .row,.addrow .row { margin-right: -5px;margin-left: -5px;position:relative;}

.row.detform{margin-top:10px;}
.total{background: #F5F7FA;padding: 18px 10px;text-align: right;margin: 40px 0 30px;}
.total span{font-size:18px;}
.total .name{font-weight:600;padding-right:10px;}
.opencase label{ padding-top: 12px;}

@media (max-width:570px){
  .btno{
    margin-left: 12px !important;
    padding: 13px 25px !important;
  }
  .footcnt .btn{
    padding: 11px 2% 10px !important;
  }
  .container{
    padding-right:0px; 
     padding-left: 0px; 
  }
}
@media (max-width:374px){
  .btno{
    margin-left: 10px !important;
    padding: 9px 12px !important;
  }
  .footcnt .btn {
    padding: 11px 0% 10px !important;
    }
}

  /* End css of details page */


    /* Start css of Admin page */
    

    /* End css of Admin page */